circulationof/Service References/LibFLDataProviderAPI/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="GetReaderInfo">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="NumberReader" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetReaderInfoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetReaderInfoResult" type="tns:ReaderInfo" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ReaderInfo">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="FamilyName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="FatherName" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="DateBirth" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="IsRemoteReader" type="s:boolean" />
        </s:sequence>
      </s:complexType>
      <s:element name="Authorize">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="login" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AuthorizeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="AuthorizeResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetLoginType">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="login" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetLoginTypeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetLoginTypeResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetReaderInfoSoapIn">
    <wsdl:part name="parameters" element="tns:GetReaderInfo" />
  </wsdl:message>
  <wsdl:message name="GetReaderInfoSoapOut">
    <wsdl:part name="parameters" element="tns:GetReaderInfoResponse" />
  </wsdl:message>
  <wsdl:message name="AuthorizeSoapIn">
    <wsdl:part name="parameters" element="tns:Authorize" />
  </wsdl:message>
  <wsdl:message name="AuthorizeSoapOut">
    <wsdl:part name="parameters" element="tns:AuthorizeResponse" />
  </wsdl:message>
  <wsdl:message name="GetLoginTypeSoapIn">
    <wsdl:part name="parameters" element="tns:GetLoginType" />
  </wsdl:message>
  <wsdl:message name="GetLoginTypeSoapOut">
    <wsdl:part name="parameters" element="tns:GetLoginTypeResponse" />
  </wsdl:message>
  <wsdl:portType name="ServiceSoap">
    <wsdl:operation name="GetReaderInfo">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Возвращает информацию о пользователе. Если пользователь не найден или входной параметр имеет неправильный формат, генерируется исключение.</wsdl:documentation>
      <wsdl:input message="tns:GetReaderInfoSoapIn" />
      <wsdl:output message="tns:GetReaderInfoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Authorize">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Возвращает true при успешной авторизации. Во всех остальных случаях генерируется исключение. Если пользователь не найден или входной параметр имеет неправильный формат, генерируется исключение. Возможные исключения:  
1. "Читатель не найден." Означает, что читатель не найден в базе ни по номеру читательского билета, ни по номеру социальной карты, ни по email. 
2. "Таких Email найдено больше одного! Введите номер читателя!"  В базе имеет 250 повторяющихся email. Введен email из этого списка.  Невозможно идентифицировать. В этом случае читателя придётся попросить указать номер читательского билета в качестве логина. 
3. "Неверный пароль." Означает, что читатель найден, но введён неверный пароль.</wsdl:documentation>
      <wsdl:input message="tns:AuthorizeSoapIn" />
      <wsdl:output message="tns:AuthorizeSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetLoginType">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Получить тип логина. Возвращает NumberReader, если введён номер читательского билета.  Возвращает SocialCardNumber если введён номер социальной карты. Возвращает Email если введён Email.  В остальных случаях возвращает NotDefined.</wsdl:documentation>
      <wsdl:input message="tns:GetLoginTypeSoapIn" />
      <wsdl:output message="tns:GetLoginTypeSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ServiceSoap" type="tns:ServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetReaderInfo">
      <soap:operation soapAction="http://tempuri.org/GetReaderInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Authorize">
      <soap:operation soapAction="http://tempuri.org/Authorize" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetLoginType">
      <soap:operation soapAction="http://tempuri.org/GetLoginType" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ServiceSoap12" type="tns:ServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetReaderInfo">
      <soap12:operation soapAction="http://tempuri.org/GetReaderInfo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Authorize">
      <soap12:operation soapAction="http://tempuri.org/Authorize" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetLoginType">
      <soap12:operation soapAction="http://tempuri.org/GetLoginType" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service">
    <wsdl:port name="ServiceSoap" binding="tns:ServiceSoap">
      <soap:address location="http://opac.libfl.ru/libfldataproviderapi/service.asmx" />
    </wsdl:port>
    <wsdl:port name="ServiceSoap12" binding="tns:ServiceSoap12">
      <soap12:address location="http://opac.libfl.ru/libfldataproviderapi/service.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>